* {
  padding: 0;
  margin: 0;
}

:root {
  --color-background: #141b2d;
  --color-card: #1f2940;
  --color-text: #fff;
  --color-text-gray: #d8d8d8;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(-color-background);
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color-background);
  }

  a:hover {
    color: #747bff;
  }
}

* {
  padding: 0;
  margin: 0;
}

.link-invisivel {
  text-decoration: none !important;
  color: inherit !important;
}

.card-line {
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-card);
  margin: 10px auto;
  color: var(--color-text);
  text-align: center;
}

.card-sector {
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-card);
  margin: 10px auto;
  color: var(--color-text);
  text-align: center;
}

.card-label {
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-card);
  margin: 10px auto;
  color: var(--color-text);
  text-align: center;
}

.card-label-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-label .icon {
  font-size: 32px;
}

.sector-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sector-header h3 {
  margin: 0;
}

.icon {
  font-size: 24px;
}

.sector-info h2,
p {
  margin: 5px;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-text);
}

.row {
  display: flex;
  width: 100%;
}

.col-md-6 {
  flex: 1;
  padding-top: 15px;
}

.mt-content {
  margin-top: 20px;
}

.col-md-12 {
  margin-top: 100px;
}

.card-table {
  width: 300px;
  height: 530px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-card);
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  color: var(--color-text);
}

th {
  background-color: var(--color-card);
}

caption {
  color: var(--color-text);
  margin: 20px 0;
  font-size: large;
}

.polar-chart-container,
.radar-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

/* Barra de navegação */
.my-navbar {
  background-color: var(--color-card);
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 2px;
  color: var(--color-text);
  box-shadow: var(--box-shadow);
}

.my-navbar-logo {
  justify-self: center;
  color: var(--color-text);
  text-decoration: none;
  margin-left: 20px;
  transition: ease-in-out 0.1s;
  position: relative !important;
}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace !important;
  font-style: normal !important;
  font-size: 150%;
}

.my-navbar-logo:hover {
  color: var(--color-text-gray);
  transform: translateX(50%);
}

.my-navbar-links {
  display: flex;
  align-items: center;
}

.my-navbar-link {
  margin-right: 50px;
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px;
  position: relative;
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}

.my-navbar-link:hover {
  color: var(--color-text-gray) !important;
  transform: scale(1.5);
}

.icon-navbar {
  font-size: 15px;
  margin: 0 5px;
}

/* Cards */
.card-top {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-card);
  margin: 10px auto;
  color: var(--color-text);
}

.card-top h2 {
  margin: 0;
  font-size: 1.5em;
}

/* Arrumando tela de entrada */
.container {
  display: grid;
  place-items: center;
  height: 100%;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  width: 100%;
  background-color: var(--color-background);
}

.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--color-card);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: var(--box-shadow);
}

.grid-item img {
  filter: grayscale(1);
}

.grid-item img:hover {
  filter: grayscale(0);
}

.image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.title {
  margin: 5px 0 0 3px;
  color: var(--color-text);
  cursor: pointer;
}

.link-invisivel>.title {
  top: 0%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto !important;
}

/* PAGINA NAME */
.card-line-name {
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-card);
  margin: 10px auto;
  color: var(--color-text);
  text-align: center;
}

.card-line-name label {
  padding: 20px;
}


.card-line-name caption {
  color: var(--color-text);
  margin: 20px 0;
  font-size: large;
  text-align: center;
}

img {
  border-radius: 15px;
}

/* Sobre Nos */
.main-content {
  color: var(--color-text);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  flex: 1;
}

.sobre-nos-container {
  background-color: var(--color-card);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 800px;
  width: 100%;
}

.sobre-nos-container h1,
.sobre-nos-container h2 {
  color: #333;
}

.sobre-nos-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.sobre-nos-container li {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--color-text);
  line-height: 1.6;
}

/* Página contato */
.contato-container {
  background: var(--color-card);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 800px;
  width: 100%;
}

.contato-container h1,
.contato-container h2 {
  color: #333;
}

.contato-container form {
  display: flex;
  flex-direction: column;
}

.contato-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contato-container input,
.contato-container textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}


h5 {
  font-size: 20px;
}

table,
th,
td {
  border: 1px solid var(--color-background);
}

input {
  border-radius: 8px;
  height: 38px;
  padding: 2px;  
  border: 1px solid var(--color-background);
}

button, select {
  border-radius: 8px;
  margin: 0 10px;
  margin-bottom: 5px;
}

.content-center{
  display: flex;
  justify-content: center;
}